# Use `npm install` to install all required modules 
/node_modules/

# Legacy stuff
/legacy/

# Linter
.eslintrc.json

# Token and other secrets
config.json

# VS Code
/.vscode/

# Sensitive language
handlers/blacklisted-words.js

# Self-aids
template.txt
template.config.js