# Use `npm install` to install all required modules 
/node_modules/

# Legacy stuff
/legacy/

# Linter
.eslintrc.json

# Token and other secrets
.env

# VS Code
/.vscode/

# Sensitive language
src/handlers/blacklisted-words.json

# Self-aids
template.txt
template.config.js

# Hosting files
.replit